NODE_ENV=development
WEB_PORT=3000
PORT=3333
NEXT_PUBLIC_API_BASE_URL=http://localhost:3333/api
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/pos_bluecoral
REDIS_URL=redis://localhost:6379
SWAGGER_PATH=/api/docs
